/* HERO SECTION */
.hero {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: linear-gradient(135deg, #0f0f0f, #1a1a1a);
  text-align: center;
}

.hero h1 {
  font-size: 55px;
  margin-bottom: 10px;
}

.hero h1 span {
  color: #ff0077;
}

.hero p {
  font-size: 22px;
  opacity: 0.8;
}

.btn {
  margin-top: 20px;
  padding: 12px 30px;
  background: #ff0077;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  color: white;
  transition: 0.3s;
}

.btn:hover {
  transform: scale(1.05);
  background: #ff3399;
}
