.skills {
  padding: 80px 20px;
  text-align: center;
}

.skills h2 {
  font-size: 40px;
  color: #ff0077;
  margin-bottom: 40px;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  gap: 25px;
  max-width: 800px;
  margin: auto;
}

.skill-card {
  background: #1b1b1b;
  padding: 20px;
  border-radius: 12px;
  font-size: 20px;
  border: 1px solid #333;
  transition: 0.3s;
}

.skill-card:hover {
  transform: translateY(-5px);
  border-color: #ff0077;
  box-shadow: 0 4px 12px rgba(255, 0, 119, 0.2);
}
