.skills {
  padding: 220px 20px 320px;
  background: #0d1117;
  color: white;
  text-align: center;
}

.skills h2 {
  font-size: 2.5rem;
  margin-bottom: 30px;
  font-weight: 600;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 20px;
  max-width: 900px;
  margin: 0 auto;
  margin-top: 100px;
}

.skill-card {
  background: #161b22;
  padding: 15px;
  border-radius: 10px;
  font-size: 1.1rem;
  cursor: default;
  transition: 0.3s ease;
  border: 1px solid #30363d;
}

.skill-card:hover {
  transform: translateY(-6px) scale(1.05);
  background: #1f6feb;
  border-color: #1f6feb;
  color: white;
}
